<div class="p-3 bg-dark mb-3">
    <h4 class="text-white m-0">navBar</h4>
</div>
<div class="container">
    <div class="table-container">
        <table class="table table-sm table-bordered text-nowrap">
            <thead class="text-center">
                <tr>
                    <th class="first-row" rowspan="1" colspan="2">Persona</th>
                    <th class="first-row" rowspan="1" colspan="2">Datos</th>
                    <th class="first-row" rowspan="2">Juego</th>
                    <th class="first-row" rowspan="2">Equipo</th>
                    <th class="first-row" rowspan="2">Rango</th>
                    <th class="first-row" rowspan="2">Main</th>
                </tr>
                <tr>
                    <th class="second-row">Nombre</th>
                    <th class="second-row">Apellido</th>
                    <th class="second-row">Dni</th>
                    <th class="second-row">Telefono</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data;let i = index">
                    <td>data {{i+1}} asdasdasdas</td>
                    <td>data {{i+1}} adsasdadsad</td>
                    <td>data {{i+1}} adasdasdasdadasd</td>
                    <td>data {{i+1}} asdasdasdasdadsasdadasd</td>
                    <td>data {{i+1}} asdasdasdasdadsasdad</td>
                    <td>data {{i+1}} asdasdasdasdadsasdadasd</td>
                    <td>data {{i+1}} asdasdasdasdadsasdadasd</td>
                    <td>data {{i+1}} asdasdasdasdadsasdadasd</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-2 p-3">

    </div>
</div>